@import (less) '../../../shared/less/fontcustom.less';
@import (less) '../../../shared/less/true-fonts.css';
@import '../../../shared/less/header';


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  font-family: "Futura Condensed";
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;

  border-radius: 6px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input{
  margin-bottom: 2px;
}
.ng-dirty.ng-invalid {
  border-color: #FA787E;
}

.ng-dirty.ng-valid {
  border-color: #78FA89;
}

.help-hint {
  margin-bottom: 2px;
  margin-left: 5px;
  color: #FA787E;
  text-align: right;
}

.password-hint {
  margin-bottom: 5px
}
